<nav class="navbar fixed-top navbar-dark bg-primary justify-content-between py-0">

  <div>
    &nbsp;
    <img src="/assets/img/logo.png" width="55" height="40" class="" alt="">

  </div>

  <div>
    <h5 id="step" class="text-center">List des Problems</h5>
  </div>

  <div>


  </div>

  <div class="text-end">

    <img src="/assets/img/location.png" width="20" height="25" class="d-inline-block align-top" alt=""> Borj Cedria

    &nbsp;
    <img src="/assets/img/fr.png" width="30" height="25" class="rounded ms-auto" routerLink="/" alt="">
    &nbsp;
    <img src="/assets/img/settings.png" width="30" height="25" routerLink="/" alt="">
    &nbsp;
  </div>
</nav>

<style>
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #adb5bd;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: cornflowerblue;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    .sidebar a {
      float: left;
    }

    div.content {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

</style>

<div class="sidebar">
  <br>
  <br>
  <a routerLink="/add-admin"><img src="/assets/img/lreports.png" width="30" height="30" style=" float: left;"
      alt="">&nbsp;&nbsp;Ajouter un administrateur</a>
  <a class="active" (click)="authService.SignOut()">&nbsp;Déconnecter</a>

</div>

<br><br><br><br><br>

<div id="admin_acc" class="content">
  <div>
    <h1>Profile de L'Admin Principale</h1>
  </div>
  <!-- Show user data when logged in -->
  <div *ngIf="authService.userData as user">
    <div>
      <div class="media">
        <img class="align-self-start mr-5 img-thumbnail rounded-circle"
          src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
        <div class="media-body">
          <h1>Bonjour: <strong>Nom de l'Admin </strong></h1>
          <p>Email: <strong>Admin email</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
